*
!.gitignore
!CLAUDE.md
!README.md
!requirements.txt
!src/
!src/**
!scripts/
!scripts/**
!data/
!data/**
!docs/
!docs/**
!utilities/
!utilities/**
!data_derived/
!data_derived/**

__pycache__
*.pyc

# keep /outputs now
!outputs/
!outputs/**

