*
!.gitignore
!CLAUDE.md
!README.md
!SPEC_modiris.md
!SPEC_mapandqc.md
!SPEC_mergeandqc.md
!outputs/
!outputs/**
!requirements.txt
!src/
!src/**
!scripts/
!scripts/**
!data/
!data/**
!docs/
!docs/**
!utilities/
!utilities/**
!data_derived/
!data_derived/**
__pycache__
*.pyc
